<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.study.member.dao.IMemberDAO">
  
  <insert id="insertMember" parameterType="MemberDTO">
		INSERT INTO c_members (
			c_mem_id,
			c_mem_pw,
			c_mem_name
		) VALUES (
			#{cMemId},
			#{cMemPw},
			#{cMemName}
		)
	</insert>
	
	<select id="loginMember" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT
			c_mem_id,
			c_mem_pw,
			c_mem_name
		FROM
			c_members
		WHERE 1=1
			AND mem_id = #{cMemId}
			AND mem_pw = #{cMemPw}
	</select>
</mapper>